*{
	margin:0;
	padding:0;
    box-sizing: border-box;
}
header{
    background-color:#faafbe;
    margin-bottom: 10px;
    height:15%;

}
.logo{
    border-radius: 20%;
    width:5%;
    height:5%;
    margin-left:15px;
    margin-top: 5px;
}
body{
    background-color:#fadab6;
    font-family: "Jost", serif;
    background-image: url("../img/");
}
.menu lo a{
color:steelblue;
    align-items: center;
    padding:0px;
    margin:0px;
	text-decoration:none;
    font-size:25px;
}
h1{
  font-family: "Kavoon", serif;  
}
h2{
     font-family: "Kotta One", serif;
    margin-top:auto;
    margin-bottom: 5%;
}
.titulo{
    color:white;
    background-color:#A54E09;
    text-align: center;
    width:30%;
    margin-left: 35%;
}
.imag{
    margin-left: 40%;
    margin-top: 2%;
   margin-bottom: 2%;
}
.ingre{
    background-color: #FDC581;
    width: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:35px;
	margin-bottom:30px;
	padding:38px;
}
.cuadro{
    width:90%;
    display:flex;
    justify-content: center;
}
.text{
    background-color:#FDC581;
    margin-left:23%;
    width:60%;
    height:40%;
}
p{
    margin-left:14px;
}
.torre{
    background-color: #FDC581;
    width: 500px;
	padding:38px;
    margin:20px;
}
.torre img{
    width:30%;
    margin-left:35%;
    margin-top:12px;
}
.fila{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left:5%;
}
footer{
    background-color:#E6E6FA;
    margin:auto;
	text-align:center;
}
.red{
	display:inline-block;
	text-align:center;
	margin-bottom:15px;
	margin-left:10px;
	padding:10px;
}
.red label{
	display:block;
	color:black;
}
.red img{
	display:block;
	width:60px;
}
i{
    color:blueviolet;
}

@media only screen and (max-width: 480px){
    
}